.buscardor{
    height: 400px;
}

.tablaBuscador{
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 50px;
    align-items: center;
    
}

td {
    width: 200px;
    color: black;
}

th {
  text-align: center;
  color: black;
}

.botonBuscador{
    width: 100px;
    margin-bottom: 20px;
  
}