.loguin {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formLoguin {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botonIngresar{
    width: 45%;
}

.botonParaIrALoguin{
    width: 30%;
    margin-bottom: 20px;
    text-decoration: none;
}
