.registro {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formularioRegistro {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botonRegistro{
    width: 40%;
}

